<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sindre Broholm Sæther">
    <link rel="stylesheet" th:href="@{/Styles/GlobalStyle.css}">
    <link rel="stylesheet" th:href="@{/Styles/HomeStyle.css}">
    <title>Home</title>
</head>
<body class="grid-container">
<header>
    <nav class="navigation">
        <section class="allNavButtons">
            <a class="navButton hoverNavButton" th:href="@{/}">Home</a>
            <a th:if="${user != null}" class="navButton hoverNavButton" th:href="@{/profile}">Profile</a>
            <a th:if="${user != null}" class="navButton hoverNavButton" th:href="@{/cart}">Cart</a>
            <br>
        </section>
        <section class="loginButtons">
            <form th:if="${user != null}" th:action="@{/logout}" method="post">
                <input class="navButtonRight hoverNavButton" type="submit" value="Logout">
            </form>
            <a th:if="${user == null}" class="navButtonRight hoverNavButton" th:href="@{/signup}">Sign up</a>
            <a th:if="${user == null}" class="navButtonRight hoverNavButton" th:href="@{/login}">Login</a>
        </section>
    </nav>
</header>
<main>
    <h1>All product</h1>
    <section id="productBoxes">
        <div class="product" th:each="productInList : ${productList}">
            <h4 class="destinationGridBoxesHeader" th:text="${productInList.name}"></h4>
            <div class="priceBox" th:text="'$' + ${productInList.price}"></div>
            <form th:if="${user != null}" th:action="${'/addToCart/'+productInList.id}" method="post">
                <input class="addtocartB hoverNavButton" type="submit" value="Add to cart">
            </form>
        </div>
    </section>
</main>
<section id="cartInfo" th:if="${user != null}">
    <div class="infoAboutUserCart">
        <span th:text="'Items in cart: '+${userOrders.size()}"></span>
        <span th:text="'Sum total: '+${cartTotalSum}+'$'"></span>
    </div>
</section>
<div th:if="${user != null}">
    <section class="admin" th:if="${user.role.equals('ADMIN')}">
        <form id="addProduct" th:action="'/'" th:method="post" th:object="${product}">
            <h3>Add new product</h3>
            <label>
                <p>Name</p>
                <input type="text" th:field="*{name}" th:errorclass="filderror">
            </label>
            <label>
                <p>Category</p>
                <input type="text" th:field="*{category}" th:errorclass="filderror">
            </label>
            <label>
                <p>Price</p>
                <input type="text" th:field="*{price}" th:errorclass="filderror">
            </label>
            <label>
                <button class="addtocartB hoverNavButton" type="submit">Add product</button>
            </label>
        </form>
    </section>
</div>
<footer>
    <div class="footerInfo">
        <p>© 2020</p>
        <p>sindreset@gmail.com</p>
    </div>
    <div class="kontaktinfo">
        <p>Sindre Broholm Sæther</p>
        <p>Junior It Konsulent</p>
    </div>
</footer>
</body>
</html>