<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sindre Broholm Sæther">
    <link rel="stylesheet" th:href="@{/Styles/GlobalStyle.css}">
    <link rel="stylesheet" th:href="@{/Styles/HomeStyle.css}">
    <title>Home</title>
</head>
<body class="grid-container">
<header>
    <nav class="navigation">
        <section class="allNavButtons">
            <a class="navButton hoverNavButton" th:href="@{/}">Home</a>
            <a th:if="${user != null}" class="navButton hoverNavButton" th:href="@{/profile}">Profile</a>
            <a th:if="${user != null}" class="navButton hoverNavButton" th:href="@{/cart}">Cart</a>
            <br>
        </section>
        <section class="loginButtons">
            <form th:if="${user != null}" th:action="@{/logout}" method="post">
                <input class="navButtonRight hoverNavButton" type="submit" value="Logout">
            </form>
            <a th:if="${user == null}" class="navButtonRight hoverNavButton" th:href="@{/signup}">Sign up</a>
            <a th:if="${user == null}" class="navButtonRight hoverNavButton" th:href="@{/login}">Login</a>
        </section>
    </nav>
</header>
<main>
    <h1>All products</h1>
    <section id="productBoxes">
        <div class="products" th:each="product : ${products}">
            <h4 class="destinationGridBoxesHeader" th:text="${product.name}"></h4>
            <div class="priceBox" th:text="'$' + ${product.price}"></div>
            <form th:if="${user != null}" th:action="${'/addToCart/'+product.id}" method="post">
                <input class="addtocartB hoverNavButton" type="submit" value="Add to cart">
            </form>
        </div>
    </section>
</main>
<section id="cartInfo" th:if="${user != null}">
    <div class="infoAboutUserCart">
        <span th:text="'items in cart: '+${userOrders.size()}"></span>
        <span th:text="'Sum total: '+${cartTotalSum}+'$'"></span>
    </div>
</section>
<footer>
    <div class="footerInfo">
        <p>© 2020</p>
        <p>sindreset@gmail.com</p>
    </div>
    <div class="kontaktinfo">
        <p>Sindre Broholm Sæther</p>
        <p>Junior It Konsulent</p>
    </div>
</footer>
</body>
</html>